:root {
  --token-size: calc(1.75rem * var(--mantine-scale));
  --token-outline-size: calc(2em * var(--mantine-scale));
}

:root {
  --token-default: rgb(115, 124, 127);
  --token-darker: rgb(46, 46, 46);

  --color-disabled: rgb(64, 64, 64);
  --color-outline: rgb(0, 136, 255);
}

:root {
  --modal-z-index: 200;
  --modal-paper-z-index: 220;
}

.main {
  font-family: var(--body-font);
  font-weight: 300;
}

[data-style='button'] {
  cursor: pointer;
}

[data-style='button'].disabled {
  cursor: default;
}

[data-style='button'].locked {
  cursor: default;
}

button.locked {
  opacity: 0.3;
}

svg {
  color: var(--mantine-color-text);
}

.close {
  aspect-ratio: 1;
  display: flex;
  height: inherit;
  padding-left: calc(50% - 1px);
  position: relative;
  width: inherit;
}
.close:before,
.close:after {
  background-color: var(--mantine-color-text);
  border-radius: 1px;
  content: ' ';
  height: inherit;
  position: absolute;
  width: 2px;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
