:root {
  --token-size: calc(1.75rem * var(--mantine-scale));
  --token-outline-size: calc(2em * var(--mantine-scale));
}

:root {
  --token-default: rgb(115, 124, 127);
  --token-darker: rgb(46, 46, 46);

  --color-disabled: rgb(64, 64, 64);
  --color-outline: rgb(0, 136, 255);
}

.main {
  font-family: var(--body-font);
  font-weight: 300;
}

[data-style='button'] {
  cursor: pointer;
}

[data-style='button'].disabled {
  cursor: default;
}

[data-style='button'].locked {
  cursor: default;
}

button.locked {
  opacity: 0.3;
}
