:root {
  --title-font: 'Tektur', sans-serif; /* 400-900 */
  --body-font: 'Space Grotesk', sans-serif; /* 300-700 */
  --stencil-font: 'Stardos Stencil'; /* 300, 700 */
}

:root {
  --token-size: calc(1.75rem * var(--mantine-scale));
  --token-outline-size: calc(2em * var(--mantine-scale));
}

body {
  font-family: system-ui, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  font-weight: 400;
}

.title {
  font-family: var(--title-font);
  font-weight: 400;
  letter-spacing: 2px;
}

.main {
  font-family: var(--body-font);
  font-weight: 300;
}
