:root {
  --feedback-token-incorrect: var(--mantine-color-body);
  --feedback-token-halfCorrect: #dddddd;
  --feedback-token-correct: #151515;
  --feedback-token-empty: var(--token-default);
  --feedback-token-darker: var(--token-darker);
  --feedback-token-incorrect-icon: var(--mantine-color-dark-5);
}
