:root {
  --cursor: default;
}

.active-row,
.token-select {
  --cursor: pointer;
}

.button,
.active-row label,
.token-select label {
  cursor: pointer;
}

/* TODO: right-size the board based on the size of the screen */

/* .game-board {
  transform-origin: top center;
}

@media screen and (max-width: 300px) {
  .game-board {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 350px) {
  .game-board {
    transform: scale(0.9);
  }
}
@media screen and (min-width: 600px) {
  .game-board {
    transform: scale(1.1);
  }
} */
