:root {
  --token-1: #ff006e;
  --token-2: #ff7926;
  --token-3: #ffd000;
  --token-4: #00d92f;
  --token-5: #00e5ff;
  --token-6: #4c8dff;
  --token-7: #a95eff;
}

.token svg {
  border-radius: inherit;
  color: #000000cc;
  transform: scale(0.85);
}
.token svg.lock-icon {
  opacity: 0.5;
  transform: scale(0.99);
}
