:root {
  --token-0: #ff006e;
  --token-1: #ff7926;
  --token-2: #ffd000;
  --token-3: #00d92f;
  --token-4: #00e5ff;
  --token-5: #4c8dff;
  --token-6: #a95eff;

  --feedback-token-0: var(--mantine-color-body);
  --feedback-token-1: #dddddd;
  --feedback-token-2: #151515;

  --token-empty: var(--mantine-color-body);
}

.token {
  cursor: var(--cursor);
}

.token svg {
  border-radius: inherit;
  color: #000000cc;
  transform: scale(0.85);
}

.active-token {
  position: relative;
}
.active-token::after {
  border-radius: 1px;
  content: '';
  height: 100%;
  opacity: 0.8;
  outline: 1.5px ridge white;
  outline-offset: 2px;
  position: absolute;
  transform: scale(calc(8 / 7));
  width: 100%;
}
