:root {
  --title-font: 'Tektur', sans-serif; /* 400-900 */
  --body-font: 'Space Grotesk', sans-serif; /* 300-700 */
  --stencil-font: 'Stardos Stencil'; /* 300, 700 */
}

html {
  overflow-x: hidden; /* prevent horizontall scroll */
}

body {
  font-family: system-ui, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  font-weight: 400;
}

svg {
  height: 100%;
  width: 100%;
}
